<h1>Account: <%= link_to current_account.name, current_account %></h1>
<h3>Project: <%= link_to @project.name, [current_account, @project] %></h1>

<%= link_to "Edit", [:edit, current_account, @project] %>
<%= link_to "Delete", [current_account, @project], method: :delete %>
